<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario 1</h1>
    <form action="{% url 'procesar_f1' %}" method="post">
        {% csrf_token %}
        <input type="number" name="num1" placeholder="Digite un num1"><br/>
        <input type="number" name="num2" placeholder="Digite un num2"><br/>
        <button type="submit">Sumar</button>
    </form>
</body>
</html>